@model E_Study.ViewModels.CourseDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Course details</h1>

<br />

<div class="grey-box">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
<br />
    <a class="btn btn-green" asp-action="Materials" asp-route-id="@Model?.Id">Take the course</a>
    <a class="btn btn-white" asp-action="Index">Back to List</a>
</div>
