@model IEnumerable<E_Study.ViewModels.CourseDisplayVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Course list</h1>
<br />

<table class="table-gray">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick ="window.location='@Url.Action("Details", new { id = item.Id })'" style="cursor: pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
