@model ResultVM;
@using System.Globalization
<h1>Your result on @Model.ResultTime.ToString("dddd dd MMMM yyyy", CultureInfo.GetCultureInfo("en-US"))</h1>
<br />
<h2>@Model.GoodAnswer / @Model.QuestionCount</h2>
<br />
<a class="btn btn-grey" asp-controller="Courses" asp-action="Index">Back to the courses list</a>
